@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
  margin: 0;
  font-family: var(--monsterrat-font);
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.8px;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
:root {
  --color-black: #393a4f;
  --color-navy: #343a40;
  --color-gray: #4a4a4a;
  --color-gray-shade: #adb5bd;
  --color-gray-light: #f1f3f4;

  --color-primary: #05f;
  --color-primary-shade: #3f88e3;
  --color-primary-light: #6ba4e9;

  --color-info: #3b5999;
  --color-info-shade: #2754e6;

  --color-danger: #d10709;

  --color-success-shade: #41d6c3;
  --color-success: #10d876;

  --color-warning: #FE9431;

  --color-secondary: #673BB7;

  --bg-layout: #f6f9fb;
  --bg-box: #fff;
  --bg-shade: #F0F2F5;
  --bg-shade-hover: #E4E6EB;
  --bg-layout-home: #f6f9fb;

  --box-shadow: 0 8px 30px rgba(0,0,0,.06)!important;

  --border: 1px solid #adb5bd6e;
  --border-radius-lg: 15px;
  --border-radius-xl: 25px;
  --border-radius: 7px;

  --fredoka-font: 'Fredoka One', cursive;
  --roboto-font: 'Roboto', sans-serif;
  --monsterrat-font: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-shade); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  var(--color-primary-light); 
}

.container {
  background: var(--bg-layout);
}